In [1]:
# Import dependencies
import pandas as pd
import psycopg2

In [16]:
# This code is adapted from the tutorial hosted below:
# http://www.postgresqltutorial.com/postgresql-python/connect/


# Establish a connection to the database by creating a cursor object
# The PostgreSQL server must be accessed through the PostgreSQL APP or Terminal Shell

host = "citibike-analysis.cbk1sw5fz5td.us-east-1.rds.amazonaws.com"
port = "5432"
database = "project"
user = "postgres" 
password = "postgres"

# Connect to the PostgreSQL database
conn = psycopg2.connect(host=host, port=port, database=database, user=user, password=password)

# Create a cursor object
cur = conn.cursor()

# A function that takes in a PostgreSQL query and outputs a pandas database 
def create_pandas_table(sql_query, database = conn):
    table = pd.read_sql_query(sql_query, database, index_col=['index'])
    return table

# Utilize the create_pandas_table function to create a Pandas data frame for each dataset
may2016_df = create_pandas_table("SELECT * FROM may2016")
may2017_df = create_pandas_table("SELECT * FROM may2017")
may2018_df = create_pandas_table("SELECT * FROM may2018")
may2019_df = create_pandas_table("SELECT * FROM may2019")
stations2016_df = create_pandas_table("SELECT * FROM stations2016")
stations2017_df = create_pandas_table("SELECT * FROM stations2017")
stations2018_df = create_pandas_table("SELECT * FROM stations2018")
stations2019_df = create_pandas_table("SELECT * FROM stations2019")

allmay_df = create_pandas_table("SELECT * FROM allmay")
allstations_df = create_pandas_table("SELECT * FROM allstations")


# Close the cursor and connection to so the server can allocate bandwidth to other requests
cur.close()
conn.close()

In [17]:
may2016_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
index,,,,,,,,,,,,,,,
0,538,5/1/2016 00:00:03,5/1/2016 00:09:02,536,1 Ave & E 30 St,40.741444,-73.975361,497,E 17 St & Broadway,40.737050,-73.990093,23097,Subscriber,1986.0,2
1,224,5/1/2016 00:00:04,5/1/2016 00:03:49,361,Allen St & Hester St,40.716059,-73.991908,340,Madison St & Clinton St,40.712690,-73.987763,23631,Subscriber,1977.0,1
2,328,5/1/2016 00:00:14,5/1/2016 00:05:43,301,E 2 St & Avenue B,40.722174,-73.983688,311,Norfolk St & Broome St,40.717227,-73.988021,23049,Subscriber,1980.0,1
3,1196,5/1/2016 00:00:20,5/1/2016 00:20:17,3141,1 Ave & E 68 St,40.765005,-73.958185,237,E 11 St & 2 Ave,40.730473,-73.986724,19019,Customer,NaN,0
4,753,5/1/2016 00:00:26,5/1/2016 00:13:00,492,W 33 St & 7 Ave,40.750200,-73.990931,228,E 48 St & 3 Ave,40.754601,-73.971879,16437,Subscriber,1981.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1212275,309,5/31/2016 23:59:21,6/1/2016 00:04:31,397,Fulton St & Clermont Ave,40.684157,-73.969223,3049,Cambridge Pl & Gates Ave,40.684880,-73.963040,20805,Subscriber,1987.0,2
1212276,985,5/31/2016 23:59:21,6/1/2016 00:15:46,531,Forsyth St & Broome St,40.718939,-73.992663,402,Broadway & E 22 St,40.740343,-73.989551,22010,Subscriber,1966.0,1
1212277,674,5/31/2016 23:59:35,6/1/2016 00:10:50,128,MacDougal St & Prince St,40.727103,-74.002971,276,Duane St & Greenwich St,40.717488,-74.010455,25086,Subscriber,1998.0,1
1212278,533,5/31/2016 23:59:37,6/1/2016 00:08:31,281,Grand Army Plaza & Central Park S,40.764397,-73.973715,477,W 41 St & 8 Ave,40.756405,-73.990026,14903,Subscriber,1970.0,1
1212279,457,5/31/2016 23:59:43,6/1/2016 00:07:20,477,W 41 St & 8 Ave,40.756405,-73.990026,457,Broadway & W 58 St,40.766953,-73.981693,15362,Subscriber,1975.0,1

In [18]:
may2017_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
index,,,,,,,,,,,,,,,
0,254,2017-05-01 00:00:13,2017-05-01 00:04:27,511,E 14 St & Avenue B,40.729387,-73.977724,394,E 9 St & Avenue C,40.725213,-73.977688,27695,Subscriber,1996.0,2
1,248,2017-05-01 00:00:19,2017-05-01 00:04:28,511,E 14 St & Avenue B,40.729387,-73.977724,394,E 9 St & Avenue C,40.725213,-73.977688,15869,Subscriber,1996.0,1
2,1120,2017-05-01 00:00:19,2017-05-01 00:19:00,242,Carlton Ave & Flushing Ave,40.697787,-73.973736,3083,Bushwick Ave & Powers St,40.712477,-73.941000,18700,Subscriber,1985.0,2
3,212,2017-05-01 00:00:24,2017-05-01 00:03:56,168,W 18 St & 6 Ave,40.739713,-73.994564,116,W 17 St & 8 Ave,40.741776,-74.001497,24981,Subscriber,1993.0,1
4,686,2017-05-01 00:00:29,2017-05-01 00:11:55,494,W 26 St & 8 Ave,40.747348,-73.997236,527,E 33 St & 2 Ave,40.744023,-73.976056,25407,Subscriber,1964.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1523263,1387,2017-05-31 23:59:26,2017-06-01 00:22:33,3449,Eckford St & Engert Ave,40.721463,-73.948009,364,Lafayette Ave & Classon Ave,40.689004,-73.960239,27033,Subscriber,1987.0,1
1523264,759,2017-05-31 23:59:32,2017-06-01 00:12:12,3163,Central Park West & W 68 St,40.773407,-73.977825,3289,W 90 St & Amsterdam Ave,40.790179,-73.972889,28849,Subscriber,1963.0,2
1523265,571,2017-05-31 23:59:48,2017-06-01 00:09:19,504,1 Ave & E 16 St,40.732219,-73.981656,128,MacDougal St & Prince St,40.727103,-74.002971,27034,Subscriber,1960.0,2
1523266,539,2017-05-31 23:59:50,2017-06-01 00:08:49,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,504,1 Ave & E 16 St,40.732219,-73.981656,27430,Subscriber,1951.0,1
1523267,613,2017-05-31 23:59:55,2017-06-01 00:10:08,3082,Hope St & Union Ave,40.711674,-73.951413,3095,Graham Ave & Herbert St,40.719293,-73.945004,21265,Subscriber,1985.0,1

In [19]:
may2018_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
index,,,,,,,,,,,,,,,
0,367,2018-05-01 05:06:16.5840,2018-05-01 05:12:23.9650,72,W 52 St & 11 Ave,40.767272,-73.993929,514,12 Ave & W 40 St,40.760875,-74.002777,30567,Subscriber,1965,1
1,1313,2018-05-01 06:25:49.4250,2018-05-01 06:47:42.7120,72,W 52 St & 11 Ave,40.767272,-73.993929,426,West St & Chambers St,40.717548,-74.013221,18965,Subscriber,1956,1
2,1798,2018-05-01 06:40:26.4450,2018-05-01 07:10:25.1790,72,W 52 St & 11 Ave,40.767272,-73.993929,3435,Grand St & Elizabeth St,40.718822,-73.995960,30241,Subscriber,1959,2
3,518,2018-05-01 07:06:02.9730,2018-05-01 07:14:41.0040,72,W 52 St & 11 Ave,40.767272,-73.993929,477,W 41 St & 8 Ave,40.756405,-73.990026,28985,Subscriber,1986,1
4,109,2018-05-01 07:26:32.3450,2018-05-01 07:28:21.5420,72,W 52 St & 11 Ave,40.767272,-73.993929,530,11 Ave & W 59 St,40.771522,-73.990541,14556,Subscriber,1991,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824705,1604,2018-05-31 22:08:40.5020,2018-05-31 22:35:25.2080,3686,Gansevoort St & Hudson St,40.739448,-74.005070,480,W 53 St & 10 Ave,40.766697,-73.990617,16857,Subscriber,1986,2
1824706,1946,2018-05-31 22:14:50.6050,2018-05-31 22:47:16.7380,3686,Gansevoort St & Hudson St,40.739448,-74.005070,79,Franklin St & W Broadway,40.719116,-74.006667,28299,Subscriber,1983,1
1824707,1931,2018-05-31 22:15:14.2790,2018-05-31 22:47:25.9680,3686,Gansevoort St & Hudson St,40.739448,-74.005070,79,Franklin St & W Broadway,40.719116,-74.006667,18081,Subscriber,1993,2
1824708,664,2018-05-31 22:26:50.8410,2018-05-31 22:37:54.9780,3686,Gansevoort St & Hudson St,40.739448,-74.005070,477,W 41 St & 8 Ave,40.756405,-73.990026,32611,Subscriber,1979,1
1824709,1318,2018-05-31 23:28:56.7270,2018-05-31 23:50:55.0910,3686,Gansevoort St & Hudson St,40.739448,-74.005070,2021,W 45 St & 8 Ave,40.759291,-73.988597,31515,Subscriber,1982,1

In [20]:
may2019_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
index,,,,,,,,,,,,,,,
0,139,2019-05-01 00:00:01.9010,2019-05-01 00:02:21.5170,447,8 Ave & W 52 St,40.763707,-73.985162,423,W 54 St & 9 Ave,40.765849,-73.986905,31170,Subscriber,1983,1
1,754,2019-05-01 00:00:03.0210,2019-05-01 00:12:37.6920,3258,W 27 St & 10 Ave,40.750182,-74.002184,3255,8 Ave & W 31 St,40.750585,-73.994685,25560,Customer,1969,0
2,2308,2019-05-01 00:00:04.6270,2019-05-01 00:38:33.1710,3093,N 6 St & Bedford Ave,40.717452,-73.958509,3676,Van Brunt St & Van Dyke St,40.675833,-74.014726,33369,Subscriber,1978,1
3,143,2019-05-01 00:00:19.3340,2019-05-01 00:02:42.5200,3486,Schermerhorn St & Bond St,40.688417,-73.984517,3412,Pacific St & Nevins St,40.685376,-73.983021,32041,Subscriber,1997,1
4,138,2019-05-01 00:00:22.1840,2019-05-01 00:02:40.6480,388,W 26 St & 10 Ave,40.749718,-74.002950,494,W 26 St & 8 Ave,40.747348,-73.997236,35237,Subscriber,1967,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1924558,304,2019-05-31 23:59:45.5760,2019-06-01 00:04:50.4620,3175,W 70 St & Amsterdam Ave,40.777480,-73.982886,423,W 54 St & 9 Ave,40.765849,-73.986905,32285,Subscriber,1987,2
1924559,324,2019-05-31 23:59:46.4650,2019-06-01 00:05:11.1630,2003,1 Ave & E 18 St,40.733812,-73.980544,536,1 Ave & E 30 St,40.741444,-73.975361,33874,Subscriber,1994,2
1924560,1926,2019-05-31 23:59:51.5060,2019-06-01 00:31:58.3920,146,Hudson St & Reade St,40.716250,-74.009106,422,W 59 St & 10 Ave,40.770513,-73.988038,33395,Subscriber,1985,1
1924561,2047,2019-05-31 23:59:52.4170,2019-06-01 00:34:00.1970,3658,W 18 St & 9 Ave,40.743534,-74.003676,2008,Little West St & 1 Pl,40.705693,-74.016777,27624,Subscriber,1987,0
1924562,964,2019-05-31 23:59:55.5500,2019-06-01 00:15:59.8680,285,Broadway & E 14 St,40.734546,-73.990741,3656,E 2 St & Avenue A,40.723077,-73.985836,32565,Subscriber,1992,2

In [21]:
may2019_df['start station id'].nunique()

793

In [22]:
may2018_df['start station id'].nunique()

767

In [23]:
stations2016_df

,dock_id,dock_name,date,hour,minute,pm,avail_bikes,avail_docks,tot_docks,_lat,_long,in_service,status_key,_long3
index,,,,,,,,,,,,,,
0,72,W 52 St & 11 Ave,16-05-01,1,9,0,11,25,39,40.767272,-73.993929,1,1,NaN
1,72,W 52 St & 11 Ave,16-05-01,1,22,0,11,25,39,40.767272,-73.993929,1,1,NaN
2,72,W 52 St & 11 Ave,16-05-01,1,35,0,11,25,39,40.767272,-73.993929,1,1,NaN
3,72,W 52 St & 11 Ave,16-05-01,1,47,0,11,25,39,40.767272,-73.993929,1,1,NaN
4,72,W 52 St & 11 Ave,16-05-01,2,0,0,11,25,39,40.767272,-73.993929,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
576838,3254,Soissons Landing,16-05-16,9,1,0,0,0,0,40.692317,-74.014866,0,3,NaN
576839,3254,Soissons Landing,16-05-16,9,26,0,0,0,0,40.692317,-74.014866,0,3,NaN
576840,3254,Soissons Landing,16-05-16,9,50,0,0,0,0,40.692317,-74.014866,0,3,NaN
576841,3254,Soissons Landing,16-05-16,12,22,0,0,0,0,40.692317,-74.014866,0,3,NaN
576842,3254,Soissons Landing,16-05-16,12,45,0,0,0,0,40.692317,-74.014866,0,3,NaN

In [24]:
stations2017_df

,dock_id,dock_name,date,hour,minute,pm,avail_bikes,avail_docks,tot_docks,_lat,_long,in_service,status_key
index,,,,,,,,,,,,,
0,72,W 52 St & 11 Ave,17-05-01,3,34,1,0,39,39,40.767272,-73.993929,1,1
1,72,W 52 St & 11 Ave,17-05-01,5,49,1,2,36,39,40.767272,-73.993929,1,1
2,72,W 52 St & 11 Ave,17-05-01,7,0,1,2,35,39,40.767272,-73.993929,1,1
3,72,W 52 St & 11 Ave,17-05-01,8,12,1,6,31,39,40.767272,-73.993929,1,1
4,72,W 52 St & 11 Ave,17-05-01,9,19,1,12,25,39,40.767272,-73.993929,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
311411,3463,E 16 St & Irving Pl,17-05-05,2,20,0,2,35,37,40.735367,-73.987974,1,1
311412,3463,E 16 St & Irving Pl,17-05-05,12,10,0,3,34,37,40.735367,-73.987974,1,1
311413,3463,E 16 St & Irving Pl,17-05-26,2,36,1,13,22,37,40.735367,-73.987974,1,1
311414,3463,E 16 St & Irving Pl,17-05-26,4,16,1,1,34,37,40.735367,-73.987974,1,1
311415,3463,E 16 St & Irving Pl,17-05-26,5,53,1,0,35,37,40.735367,-73.987974,1,1

In [25]:
stations2018_df

,dock_id,dock_name,date,hour,minute,pm,avail_bikes,avail_docks,tot_docks,_lat,_long,in_service,status_key
index,,,,,,,,,,,,,
0,72,W 52 St & 11 Ave,18-05-01,1,4,0,16,20,39,40.767272,-73.993929,1,1
1,72,W 52 St & 11 Ave,18-05-01,1,36,0,16,20,39,40.767272,-73.993929,1,1
2,72,W 52 St & 11 Ave,18-05-01,2,7,0,16,20,39,40.767272,-73.993929,1,1
3,72,W 52 St & 11 Ave,18-05-01,2,38,0,16,20,39,40.767272,-73.993929,1,1
4,72,W 52 St & 11 Ave,18-05-01,3,9,0,16,20,39,40.767272,-73.993929,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
632787,3512,27 Ave & 4 St,18-05-29,5,28,0,5,14,19,40.774718,-73.933789,1,1
632788,3512,27 Ave & 4 St,18-05-29,6,3,0,5,14,19,40.774718,-73.933789,1,1
632789,3512,27 Ave & 4 St,18-05-29,12,12,0,5,14,19,40.774718,-73.933789,1,1
632790,3512,27 Ave & 4 St,18-05-29,12,47,0,5,14,19,40.774718,-73.933789,1,1
632791,3513,21 St & Hoyt Ave S,18-05-22,1,6,1,4,16,21,40.774645,-73.923706,1,1

In [26]:
stations2019_df

,dock_id,dock_name,date,hour,minute,pm,avail_bikes,avail_docks,tot_docks,_lat,_long,in_service,status_key
index,,,,,,,,,,,,,
0,72,W 52 St & 11 Ave,19-04-02,4,56,1,6,49,55,40.767272,-73.993929,1,1
1,72,W 52 St & 11 Ave,19-04-02,5,36,1,1,54,55,40.767272,-73.993929,1,1
2,72,W 52 St & 11 Ave,19-04-02,6,16,1,4,51,55,40.767272,-73.993929,1,1
3,72,W 52 St & 11 Ave,19-04-02,6,54,1,3,52,55,40.767272,-73.993929,1,1
4,72,W 52 St & 11 Ave,19-04-02,7,36,1,7,48,55,40.767272,-73.993929,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
507291,3537,Carlton Ave & Dean St,19-04-23,7,32,0,6,23,29,40.680974,-73.971010,1,1
507292,3537,Carlton Ave & Dean St,19-04-23,8,21,0,4,25,29,40.680974,-73.971010,1,1
507293,3537,Carlton Ave & Dean St,19-04-23,9,10,0,1,28,29,40.680974,-73.971010,1,1
507294,3537,Carlton Ave & Dean St,19-04-23,12,44,0,8,21,29,40.680974,-73.971010,1,1
507295,3537,Carlton Ave & Dean St,19-04-23,3,1,1,1,28,29,40.680974,-73.971010,1,1

In [27]:
allmay_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
index,,,,,,,,,,,,,,,
0,538,5/1/2016 00:00:03,5/1/2016 00:09:02,536,1 Ave & E 30 St,40.741444,-73.975361,497,E 17 St & Broadway,40.737050,-73.990093,23097,Subscriber,1986.0,2
1,224,5/1/2016 00:00:04,5/1/2016 00:03:49,361,Allen St & Hester St,40.716059,-73.991908,340,Madison St & Clinton St,40.712690,-73.987763,23631,Subscriber,1977.0,1
2,328,5/1/2016 00:00:14,5/1/2016 00:05:43,301,E 2 St & Avenue B,40.722174,-73.983688,311,Norfolk St & Broome St,40.717227,-73.988021,23049,Subscriber,1980.0,1
3,1196,5/1/2016 00:00:20,5/1/2016 00:20:17,3141,1 Ave & E 68 St,40.765005,-73.958185,237,E 11 St & 2 Ave,40.730473,-73.986724,19019,Customer,NaN,0
4,753,5/1/2016 00:00:26,5/1/2016 00:13:00,492,W 33 St & 7 Ave,40.750200,-73.990931,228,E 48 St & 3 Ave,40.754601,-73.971879,16437,Subscriber,1981.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1924558,304,2019-05-31 23:59:45.5760,2019-06-01 00:04:50.4620,3175,W 70 St & Amsterdam Ave,40.777480,-73.982886,423,W 54 St & 9 Ave,40.765849,-73.986905,32285,Subscriber,1987.0,2
1924559,324,2019-05-31 23:59:46.4650,2019-06-01 00:05:11.1630,2003,1 Ave & E 18 St,40.733812,-73.980544,536,1 Ave & E 30 St,40.741444,-73.975361,33874,Subscriber,1994.0,2
1924560,1926,2019-05-31 23:59:51.5060,2019-06-01 00:31:58.3920,146,Hudson St & Reade St,40.716250,-74.009106,422,W 59 St & 10 Ave,40.770513,-73.988038,33395,Subscriber,1985.0,1
1924561,2047,2019-05-31 23:59:52.4170,2019-06-01 00:34:00.1970,3658,W 18 St & 9 Ave,40.743534,-74.003676,2008,Little West St & 1 Pl,40.705693,-74.016777,27624,Subscriber,1987.0,0
1924562,964,2019-05-31 23:59:55.5500,2019-06-01 00:15:59.8680,285,Broadway & E 14 St,40.734546,-73.990741,3656,E 2 St & Avenue A,40.723077,-73.985836,32565,Subscriber,1992.0,2

In [28]:
allstations_df

,dock_id,dock_name,date,hour,minute,pm,avail_bikes,avail_docks,tot_docks,_lat,_long,in_service,status_key,_long3
index,,,,,,,,,,,,,,
0,72,W 52 St & 11 Ave,16-05-01,1,9,0,11,25,39,40.767272,-73.993929,1,1,NaN
1,72,W 52 St & 11 Ave,16-05-01,1,22,0,11,25,39,40.767272,-73.993929,1,1,NaN
2,72,W 52 St & 11 Ave,16-05-01,1,35,0,11,25,39,40.767272,-73.993929,1,1,NaN
3,72,W 52 St & 11 Ave,16-05-01,1,47,0,11,25,39,40.767272,-73.993929,1,1,NaN
4,72,W 52 St & 11 Ave,16-05-01,2,0,0,11,25,39,40.767272,-73.993929,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507291,3537,Carlton Ave & Dean St,19-04-23,7,32,0,6,23,29,40.680974,-73.971010,1,1,NaN
507292,3537,Carlton Ave & Dean St,19-04-23,8,21,0,4,25,29,40.680974,-73.971010,1,1,NaN
507293,3537,Carlton Ave & Dean St,19-04-23,9,10,0,1,28,29,40.680974,-73.971010,1,1,NaN
507294,3537,Carlton Ave & Dean St,19-04-23,12,44,0,8,21,29,40.680974,-73.971010,1,1,NaN
507295,3537,Carlton Ave & Dean St,19-04-23,3,1,1,1,28,29,40.680974,-73.971010,1,1,NaN

In [29]:
# We will preprocess the allmay_df and allstations_df dataframes

In [32]:
# Determine datatypes of allmay_df columns
allmay_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                 float64
gender                       int64
dtype: object

In [33]:
# Find null values
for column in allmay_df.columns:
    print(f"Column {column} has {allmay_df[column].isnull().sum()} null values")

Column tripduration has 0 null values
Column starttime has 0 null values
Column stoptime has 0 null values
Column start station id has 0 null values
Column start station name has 0 null values
Column start station latitude has 0 null values
Column start station longitude has 0 null values
Column end station id has 0 null values
Column end station name has 0 null values
Column end station latitude has 0 null values
Column end station longitude has 0 null values
Column bikeid has 0 null values
Column usertype has 0 null values
Column birth year has 349144 null values
Column gender has 0 null values

In [35]:
# Drop null rows
allmay_df = allmay_df.dropna()

In [36]:
# Remove the stations name Columns (since we have station id columns in place)
allmay_df.drop(columns=["start station name", "end station name"], inplace=True)
allmay_df.head()

C:\Users\makew\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,tripduration,starttime,stoptime,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,usertype,birth year,gender
index,,,,,,,,,,,,,
0,538,5/1/2016 00:00:03,5/1/2016 00:09:02,536,40.741444,-73.975361,497,40.737050,-73.990093,23097,Subscriber,1986.0,2
1,224,5/1/2016 00:00:04,5/1/2016 00:03:49,361,40.716059,-73.991908,340,40.712690,-73.987763,23631,Subscriber,1977.0,1
2,328,5/1/2016 00:00:14,5/1/2016 00:05:43,301,40.722174,-73.983688,311,40.717227,-73.988021,23049,Subscriber,1980.0,1
4,753,5/1/2016 00:00:26,5/1/2016 00:13:00,492,40.750200,-73.990931,228,40.754601,-73.971879,16437,Subscriber,1981.0,1
5,511,5/1/2016 00:00:33,5/1/2016 00:09:05,445,40.727408,-73.981420,537,40.740259,-73.984092,20592,Subscriber,1991.0,1

In [37]:
#Transform string usertype column (Subscriber = 1, Customer = 0)
def change_string(member):
    if member == "Subscriber":
        return 1
    else:
        return 0
    
allmay_df["usertype"] = allmay_df["usertype"].apply(change_string)
allmay_df.head()

C:\Users\makew\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,tripduration,starttime,stoptime,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,usertype,birth year,gender
index,,,,,,,,,,,,,
0,538,5/1/2016 00:00:03,5/1/2016 00:09:02,536,40.741444,-73.975361,497,40.737050,-73.990093,23097,1,1986.0,2
1,224,5/1/2016 00:00:04,5/1/2016 00:03:49,361,40.716059,-73.991908,340,40.712690,-73.987763,23631,1,1977.0,1
2,328,5/1/2016 00:00:14,5/1/2016 00:05:43,301,40.722174,-73.983688,311,40.717227,-73.988021,23049,1,1980.0,1
4,753,5/1/2016 00:00:26,5/1/2016 00:13:00,492,40.750200,-73.990931,228,40.754601,-73.971879,16437,1,1981.0,1
5,511,5/1/2016 00:00:33,5/1/2016 00:09:05,445,40.727408,-73.981420,537,40.740259,-73.984092,20592,1,1991.0,1

In [38]:
# Determine datatypes of allmay_df columns
allmay_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station latitude     float64
start station longitude    float64
end station id               int64
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                     int64
birth year                 float64
gender                       int64
dtype: object

In [41]:
#  Convert date columns to datetime from object
allmay_df['starttime'] = pd.to_datetime(allmay_df['starttime'])
allmay_df.dtypes

C:\Users\makew\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

tripduration                        int64
starttime                  datetime64[ns]
stoptime                           object
start station id                    int64
start station latitude            float64
start station longitude           float64
end station id                      int64
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                            int64
birth year                        float64
gender                              int64
dtype: object

In [42]:
#  Convert date columns to datetime from object
allmay_df['stoptime'] = pd.to_datetime(allmay_df['stoptime'])

C:\Users\makew\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [43]:
allmay_df.head()

,tripduration,starttime,stoptime,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,usertype,birth year,gender
index,,,,,,,,,,,,,
0,538,2016-05-01 00:00:03,2016-05-01 00:09:02,536,40.741444,-73.975361,497,40.737050,-73.990093,23097,1,1986.0,2
1,224,2016-05-01 00:00:04,2016-05-01 00:03:49,361,40.716059,-73.991908,340,40.712690,-73.987763,23631,1,1977.0,1
2,328,2016-05-01 00:00:14,2016-05-01 00:05:43,301,40.722174,-73.983688,311,40.717227,-73.988021,23049,1,1980.0,1
4,753,2016-05-01 00:00:26,2016-05-01 00:13:00,492,40.750200,-73.990931,228,40.754601,-73.971879,16437,1,1981.0,1
5,511,2016-05-01 00:00:33,2016-05-01 00:09:05,445,40.727408,-73.981420,537,40.740259,-73.984092,20592,1,1991.0,1

In [44]:
# Determine datatypes of allstations_df columns
allstations_df.dtypes

dock_id          int64
dock_name       object
date            object
hour             int64
minute           int64
pm               int64
avail_bikes      int64
avail_docks      int64
tot_docks        int64
_lat           float64
_long          float64
in_service       int64
status_key       int64
_long3         float64
dtype: object

##  RandomForestRegressor  
Whether you have a regression or classification task, random forest is an applicable model for your needs. It can handle binary features, categorical features, and numerical features. There is very little pre-processing that needs to be done. The data does not need to be rescaled or transformed.

Drawbacks
Model interpretability: Random forest models are not all that interpretable; they are like black boxes.
For very large data sets, the size of the trees can take up a lot of memory.
It can tend to overfit, so you should tune the hyperparameters.

################################
## ORIGINAL CODE (OLD)
################################
###############################

In [11]:
# Import dependencies
import pandas as pd

In [12]:
# Import our input dataset
citi_May21_df = pd.read_csv('Resources/202105-citibike-tripdata.csv', index_col=0)
citi_May21_df

C:\Users\makew\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
ride_id,,,,,,,,,,,,
E12103A91226099A,docked_bike,2021-05-06 17:25:01,2021-05-06 17:45:25,Broadway & W 60 St,6948.11,1 Ave & E 78 St,7020.09,40.769155,-73.981918,40.771404,-73.953517,member
26A3DC47FE0EA3A3,docked_bike,2021-05-13 12:48:08,2021-05-13 13:07:37,Broadway & W 25 St,6173.08,E 2 St & Avenue B,5515.02,40.742868,-73.989186,40.722174,-73.983688,member
A99F2E1D627B088F,docked_bike,2021-05-16 08:30:13,2021-05-16 08:45:47,46 Ave & 5 St,6286.02,34th Ave & Vernon Blvd,6873.01,40.747310,-73.954510,40.765354,-73.939863,member
43E79A45997B7390,docked_bike,2021-05-01 08:38:14,2021-05-01 08:54:27,46 Ave & 5 St,6286.02,34th Ave & Vernon Blvd,6873.01,40.747310,-73.954510,40.765354,-73.939863,member
8B3CC649F4F58816,docked_bike,2021-05-09 08:12:31,2021-05-09 08:27:05,46 Ave & 5 St,6286.02,34th Ave & Vernon Blvd,6873.01,40.747310,-73.954510,40.765354,-73.939863,member
...,...,...,...,...,...,...,...,...,...,...,...,...
766BB4E17F05DBB4,docked_bike,2021-05-26 20:48:14,2021-05-26 21:02:01,W 25 St & 6 Ave,6215.04,10 Ave & W 14 St,6157.04,40.743954,-73.991448,40.741982,-74.008316,member
3A74372C4A83AF31,docked_bike,2021-05-22 16:28:54,2021-05-22 16:43:55,W 25 St & 6 Ave,6215.04,10 Ave & W 14 St,6157.04,40.743954,-73.991448,40.741982,-74.008316,member
8FF3997F7C47E8FA,docked_bike,2021-05-12 13:46:29,2021-05-12 13:54:12,E 4 St & 2 Ave,5593.04,Canal St & Rutgers St,5303.08,40.726280,-73.989780,40.714275,-73.989900,member
FFB1C29E91CC7253,docked_bike,2021-05-08 00:15:34,2021-05-08 00:25:19,Lewis Ave & Decatur St,4237.01,Central Ave & Woodbine St,4632.1,40.681459,-73.934903,40.692960,-73.916050,member
5B85F1B45289EF30,docked_bike,2021-05-16 20:18:33,2021-05-16 20:31:21,6 Ave & W 33 St,6364.07,E 56 St & 3 Ave,6691.11,40.749012,-73.988483,40.759345,-73.967597,casual

In [13]:
### Explore data
start = citi_May21_df['start_station_name'].unique()
end = citi_May21_df['end_station_name'].unique()

In [14]:
start

array(['Broadway & W 60 St', 'Broadway & W 25 St', '46 Ave & 5 St', ...,
       'Goulden Ave & Bedford Park Blvd W', 'Grand Concourse & E 192 St',
       'Marion Ave & Mosholu Pkwy'], dtype=object)

In [15]:
# Identify ending locations that were never starting locations
not_start = []
for loc in end:
    if loc not in start:
        not_start.append(loc)
    
not_start

[nan,
 'Hoboken Terminal - River St & Hudson Pl',
 'Sip Ave',
 'Heights Elevator',
 '11 St & Washington St',
 'Bloomfield St & 15 St',
 'Newport PATH',
 'Pier 40 Dock Station',
 'Church Sq Park - 5 St & Park Ave',
 'Paulus Hook',
 'Forrest WH station',
 'NYCBS DEPOT - DELANCEY',
 'Van Vorst Park',
 'South Waterfront Walkway - Sinatra Dr & 1 St',
 'Pier 40 X2',
 'Washington St',
 'Liberty Light Rail',
 'Grand St & 14 St',
 'Grand St',
 'Marin Light Rail',
 'Morris Canal',
 'Columbus Dr at Exchange Pl',
 'Adams St & 11 St',
 'Bergen Ave',
 'Decatur Ave & Bedford Park Blvd',
 '6 St & Grand St',
 'Mama Johnson Field - 4 St & Jackson St',
 'Grove St PATH',
 'Madison St & 1 St',
 'Riverview Park']

In [16]:
# Identify any starting locations that were never ending locations
not_end = []
for loc in start:
    if loc not in end:
        not_end.append(loc)
    
not_end

[nan]

In [17]:
citi_May21_df['rideable_type'].nunique()

2

In [18]:
citi_May21_df['rideable_type'].value_counts()

docked_bike      2724017
electric_bike        148
Name: rideable_type, dtype: int64

In [19]:
# Import additional input dataset - May 2020 data
citi_May20_df = pd.read_csv('Resources/202005-citibike-tripdata.csv', index_col=0)
citi_May20_df

C:\Users\makew\anaconda3\envs\mlenv\lib\site-packages\numpy\lib\arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
tripduration,,,,,,,,,,,,,,
336,2020-05-01 00:01:06.3380,2020-05-01 00:06:42.9560,2017,E 43 St & 2 Ave,40.750224,-73.971214,465,Broadway & W 41 St,40.755136,-73.986580,18015,Subscriber,1993,1
853,2020-05-01 00:01:08.1950,2020-05-01 00:15:21.2150,3376,E 65 St & 2 Ave,40.764719,-73.962221,478,11 Ave & W 41 St,40.760301,-73.998842,35905,Subscriber,1989,1
78,2020-05-01 00:01:08.5260,2020-05-01 00:02:27.0490,396,Lefferts Pl & Franklin Ave,40.680342,-73.955769,3789,Fulton St & Irving Pl,40.681860,-73.959432,33350,Subscriber,1938,2
1185,2020-05-01 00:02:22.4380,2020-05-01 00:22:08.1220,3630,Frederick Douglass Blvd & W 115 St,40.803865,-73.955931,3506,Lexington Ave & E 120 St,40.801307,-73.939817,43790,Subscriber,1996,1
272,2020-05-01 00:02:32.8280,2020-05-01 00:07:05.0880,3776,Central Ave & Starr Street,40.700003,-73.928340,3068,Humboldt St & Varet St,40.703172,-73.940636,39912,Subscriber,1993,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981,2020-05-31 23:59:19.0310,2020-06-01 00:15:40.5590,313,Washington Ave & Park Ave,40.696102,-73.967510,217,Old Fulton St,40.702772,-73.993836,43706,Subscriber,1972,2
367,2020-05-31 23:59:36.2270,2020-06-01 00:05:43.6200,545,E 23 St & 1 Ave,40.736502,-73.978095,501,FDR Drive & E 35 St,40.744219,-73.971212,41321,Subscriber,1994,2
1798,2020-05-31 23:59:37.7250,2020-06-01 00:29:36.6800,450,W 49 St & 8 Ave,40.762272,-73.987882,485,W 37 St & 5 Ave,40.750380,-73.983390,37418,Subscriber,1998,1
718,2020-05-31 23:59:47.7090,2020-06-01 00:11:46.5210,3691,28 Ave & 44 St,40.764089,-73.910651,3691,28 Ave & 44 St,40.764089,-73.910651,41190,Customer,1969,0
1168,2020-05-31 23:59:48.0660,2020-06-01 00:19:16.4730,467,Dean St & 4 Ave,40.683125,-73.978951,239,Willoughby St & Fleet St,40.691966,-73.981302,33450,Customer,2000,1

In [20]:
# Import additional input dataset - May 2019 data
citi_May19_df = pd.read_csv('Resources/201905-citibike-tripdata.csv', index_col=0)
citi_May19_df

C:\Users\makew\anaconda3\envs\mlenv\lib\site-packages\numpy\lib\arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
tripduration,,,,,,,,,,,,,,
139,2019-05-01 00:00:01.9010,2019-05-01 00:02:21.5170,447,8 Ave & W 52 St,40.763707,-73.985162,423,W 54 St & 9 Ave,40.765849,-73.986905,31170,Subscriber,1983,1
754,2019-05-01 00:00:03.0210,2019-05-01 00:12:37.6920,3258,W 27 St & 10 Ave,40.750182,-74.002184,3255,8 Ave & W 31 St,40.750585,-73.994685,25560,Customer,1969,0
2308,2019-05-01 00:00:04.6270,2019-05-01 00:38:33.1710,3093,N 6 St & Bedford Ave,40.717452,-73.958509,3676,Van Brunt St & Van Dyke St,40.675833,-74.014726,33369,Subscriber,1978,1
143,2019-05-01 00:00:19.3340,2019-05-01 00:02:42.5200,3486,Schermerhorn St & Bond St,40.688417,-73.984517,3412,Pacific St & Nevins St,40.685376,-73.983021,32041,Subscriber,1997,1
138,2019-05-01 00:00:22.1840,2019-05-01 00:02:40.6480,388,W 26 St & 10 Ave,40.749718,-74.002950,494,W 26 St & 8 Ave,40.747348,-73.997236,35237,Subscriber,1967,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,2019-05-31 23:59:45.5760,2019-06-01 00:04:50.4620,3175,W 70 St & Amsterdam Ave,40.777480,-73.982886,423,W 54 St & 9 Ave,40.765849,-73.986905,32285,Subscriber,1987,2
324,2019-05-31 23:59:46.4650,2019-06-01 00:05:11.1630,2003,1 Ave & E 18 St,40.733812,-73.980544,536,1 Ave & E 30 St,40.741444,-73.975361,33874,Subscriber,1994,2
1926,2019-05-31 23:59:51.5060,2019-06-01 00:31:58.3920,146,Hudson St & Reade St,40.716250,-74.009106,422,W 59 St & 10 Ave,40.770513,-73.988038,33395,Subscriber,1985,1
2047,2019-05-31 23:59:52.4170,2019-06-01 00:34:00.1970,3658,W 18 St & 9 Ave,40.743534,-74.003676,2008,Little West St & 1 Pl,40.705693,-74.016777,27624,Subscriber,1987,0
964,2019-05-31 23:59:55.5500,2019-06-01 00:15:59.8680,285,Broadway & E 14 St,40.734546,-73.990741,3656,E 2 St & Avenue A,40.723077,-73.985836,32565,Subscriber,1992,2

In [21]:
# Import additional input dataset - May 2018 data
citi_May18_df = pd.read_csv('Resources/201805-citibike-tripdata.csv', index_col=0)
citi_May18_df

C:\Users\makew\anaconda3\envs\mlenv\lib\site-packages\numpy\lib\arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
tripduration,,,,,,,,,,,,,,
367,2018-05-01 05:06:16.5840,2018-05-01 05:12:23.9650,72,W 52 St & 11 Ave,40.767272,-73.993929,514,12 Ave & W 40 St,40.760875,-74.002777,30567,Subscriber,1965,1
1313,2018-05-01 06:25:49.4250,2018-05-01 06:47:42.7120,72,W 52 St & 11 Ave,40.767272,-73.993929,426,West St & Chambers St,40.717548,-74.013221,18965,Subscriber,1956,1
1798,2018-05-01 06:40:26.4450,2018-05-01 07:10:25.1790,72,W 52 St & 11 Ave,40.767272,-73.993929,3435,Grand St & Elizabeth St,40.718822,-73.995960,30241,Subscriber,1959,2
518,2018-05-01 07:06:02.9730,2018-05-01 07:14:41.0040,72,W 52 St & 11 Ave,40.767272,-73.993929,477,W 41 St & 8 Ave,40.756405,-73.990026,28985,Subscriber,1986,1
109,2018-05-01 07:26:32.3450,2018-05-01 07:28:21.5420,72,W 52 St & 11 Ave,40.767272,-73.993929,530,11 Ave & W 59 St,40.771522,-73.990541,14556,Subscriber,1991,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1604,2018-05-31 22:08:40.5020,2018-05-31 22:35:25.2080,3686,Gansevoort St & Hudson St,40.739448,-74.005070,480,W 53 St & 10 Ave,40.766697,-73.990617,16857,Subscriber,1986,2
1946,2018-05-31 22:14:50.6050,2018-05-31 22:47:16.7380,3686,Gansevoort St & Hudson St,40.739448,-74.005070,79,Franklin St & W Broadway,40.719116,-74.006667,28299,Subscriber,1983,1
1931,2018-05-31 22:15:14.2790,2018-05-31 22:47:25.9680,3686,Gansevoort St & Hudson St,40.739448,-74.005070,79,Franklin St & W Broadway,40.719116,-74.006667,18081,Subscriber,1993,2
664,2018-05-31 22:26:50.8410,2018-05-31 22:37:54.9780,3686,Gansevoort St & Hudson St,40.739448,-74.005070,477,W 41 St & 8 Ave,40.756405,-73.990026,32611,Subscriber,1979,1
1318,2018-05-31 23:28:56.7270,2018-05-31 23:50:55.0910,3686,Gansevoort St & Hudson St,40.739448,-74.005070,2021,W 45 St & 8 Ave,40.759291,-73.988597,31515,Subscriber,1982,1