In [1]:
import pandas as pd
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
url = "https://bootcamp-citibike-bucket.s3.amazonaws.com/NYC/May2016.csv"
df2016 = pd.read_csv(url, sep=',', header= 0)
df2016.head(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,538,5/1/2016 00:00:03,5/1/2016 00:09:02,536,1 Ave & E 30 St,40.741444,-73.975361,497,E 17 St & Broadway,40.737050,-73.990093,23097,Subscriber,1986.0,2
1,224,5/1/2016 00:00:04,5/1/2016 00:03:49,361,Allen St & Hester St,40.716059,-73.991908,340,Madison St & Clinton St,40.712690,-73.987763,23631,Subscriber,1977.0,1
2,328,5/1/2016 00:00:14,5/1/2016 00:05:43,301,E 2 St & Avenue B,40.722174,-73.983688,311,Norfolk St & Broome St,40.717227,-73.988021,23049,Subscriber,1980.0,1
3,1196,5/1/2016 00:00:20,5/1/2016 00:20:17,3141,1 Ave & E 68 St,40.765005,-73.958185,237,E 11 St & 2 Ave,40.730473,-73.986724,19019,Customer,NaN,0
4,753,5/1/2016 00:00:26,5/1/2016 00:13:00,492,W 33 St & 7 Ave,40.750200,-73.990931,228,E 48 St & 3 Ave,40.754601,-73.971879,16437,Subscriber,1981.0,1
5,511,5/1/2016 00:00:33,5/1/2016 00:09:05,445,E 10 St & Avenue A,40.727408,-73.981420,537,Lexington Ave & E 24 St,40.740259,-73.984092,20592,Subscriber,1991.0,1
6,362,5/1/2016 00:00:34,5/1/2016 00:06:37,151,Cleveland Pl & Spring St,40.722104,-73.997249,229,Great Jones St,40.727434,-73.993790,15681,Subscriber,1986.0,1
7,1399,5/1/2016 00:00:37,5/1/2016 00:23:56,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,2022,E 60 St & York Ave,40.759107,-73.959223,16003,Subscriber,1989.0,1
8,515,5/1/2016 00:00:42,5/1/2016 00:09:17,368,Carmine St & 6 Ave,40.730386,-74.002150,334,W 20 St & 7 Ave,40.742388,-73.997262,20515,Subscriber,1998.0,1
9,1477,5/1/2016 00:00:50,5/1/2016 00:25:27,459,W 20 St & 11 Ave,40.746745,-74.007756,445,E 10 St & Avenue A,40.727408,-73.981420,20884,Subscriber,1995.0,1

In [3]:
df2016.drop_duplicates(subset = "start station id", inplace=True)

df2016

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,538,5/1/2016 00:00:03,5/1/2016 00:09:02,536,1 Ave & E 30 St,40.741444,-73.975361,497,E 17 St & Broadway,40.737050,-73.990093,23097,Subscriber,1986.0,2
1,224,5/1/2016 00:00:04,5/1/2016 00:03:49,361,Allen St & Hester St,40.716059,-73.991908,340,Madison St & Clinton St,40.712690,-73.987763,23631,Subscriber,1977.0,1
2,328,5/1/2016 00:00:14,5/1/2016 00:05:43,301,E 2 St & Avenue B,40.722174,-73.983688,311,Norfolk St & Broome St,40.717227,-73.988021,23049,Subscriber,1980.0,1
3,1196,5/1/2016 00:00:20,5/1/2016 00:20:17,3141,1 Ave & E 68 St,40.765005,-73.958185,237,E 11 St & 2 Ave,40.730473,-73.986724,19019,Customer,NaN,0
4,753,5/1/2016 00:00:26,5/1/2016 00:13:00,492,W 33 St & 7 Ave,40.750200,-73.990931,228,E 48 St & 3 Ave,40.754601,-73.971879,16437,Subscriber,1981.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590519,341,5/17/2016 16:33:01,5/17/2016 16:38:42,3255,8 Ave & W 31 St,40.750585,-73.994685,448,W 37 St & 10 Ave,40.756604,-73.997901,25051,Subscriber,1990.0,1
625347,163,5/18/2016 12:24:43,5/18/2016 12:27:26,3254,Soissons Landing,40.692317,-74.014866,3182,Yankee Ferry Terminal,40.686931,-74.016966,23555,Subscriber,1980.0,1
681179,720,5/19/2016 16:41:29,5/19/2016 16:53:30,522,E 51 St & Lexington Ave,40.757148,-73.972078,540,Lexington Ave & E 29 St,40.743116,-73.982154,15076,Subscriber,1959.0,2
1039569,1532,5/27/2016 15:42:22,5/27/2016 16:07:55,312,Allen St & Stanton St,40.722055,-73.989111,3242,Schermerhorn St & Court St,40.691029,-73.991834,21658,Subscriber,1942.0,1
1048999,1262,5/27/2016 18:11:34,5/27/2016 18:32:37,401,Allen St & Rivington St,40.720196,-73.989978,467,Dean St & 4 Ave,40.683125,-73.978951,23869,Subscriber,1961.0,1

In [4]:
df2016 = df2016.drop(["tripduration", "starttime", "stoptime", "end station id", "end station name", "end station latitude",
            "end station longitude", "bikeid", "usertype", "birth year", "gender"], axis=1)

df2016

,start station id,start station name,start station latitude,start station longitude
0,536,1 Ave & E 30 St,40.741444,-73.975361
1,361,Allen St & Hester St,40.716059,-73.991908
2,301,E 2 St & Avenue B,40.722174,-73.983688
3,3141,1 Ave & E 68 St,40.765005,-73.958185
4,492,W 33 St & 7 Ave,40.750200,-73.990931
...,...,...,...,...
590519,3255,8 Ave & W 31 St,40.750585,-73.994685
625347,3254,Soissons Landing,40.692317,-74.014866
681179,522,E 51 St & Lexington Ave,40.757148,-73.972078
1039569,312,Allen St & Stanton St,40.722055,-73.989111
1048999,401,Allen St & Rivington St,40.720196,-73.989978

In [5]:
df2016 = df2016.rename(columns={'start station id': 'station id', 'start station name': 'station name',
                               'start station latitude': 'latitude', 'start station longitude': 'longitude'})
df2016

         station id             station name   latitude  longitude
0               536          1 Ave & E 30 St  40.741444 -73.975361
1               361     Allen St & Hester St  40.716059 -73.991908
2               301        E 2 St & Avenue B  40.722174 -73.983688
3              3141          1 Ave & E 68 St  40.765005 -73.958185
4               492          W 33 St & 7 Ave  40.750200 -73.990931
...             ...                      ...        ...        ...
590519         3255          8 Ave & W 31 St  40.750585 -73.994685
625347         3254         Soissons Landing  40.692317 -74.014866
681179          522  E 51 St & Lexington Ave  40.757148 -73.972078
1039569         312    Allen St & Stanton St  40.722055 -73.989111
1048999         401  Allen St & Rivington St  40.720196 -73.989978

[475 rows x 4 columns]

In [6]:
url = "https://bootcamp-citibike-bucket.s3.amazonaws.com/NYC/May2017.csv"
df2017 = pd.read_csv(url, sep=',', header= 0)
df2017.head(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,254,2017-05-01 00:00:13,2017-05-01 00:04:27,511,E 14 St & Avenue B,40.729387,-73.977724,394,E 9 St & Avenue C,40.725213,-73.977688,27695,Subscriber,1996.0,2
1,248,2017-05-01 00:00:19,2017-05-01 00:04:28,511,E 14 St & Avenue B,40.729387,-73.977724,394,E 9 St & Avenue C,40.725213,-73.977688,15869,Subscriber,1996.0,1
2,1120,2017-05-01 00:00:19,2017-05-01 00:19:00,242,Carlton Ave & Flushing Ave,40.697787,-73.973736,3083,Bushwick Ave & Powers St,40.712477,-73.941000,18700,Subscriber,1985.0,2
3,212,2017-05-01 00:00:24,2017-05-01 00:03:56,168,W 18 St & 6 Ave,40.739713,-73.994564,116,W 17 St & 8 Ave,40.741776,-74.001497,24981,Subscriber,1993.0,1
4,686,2017-05-01 00:00:29,2017-05-01 00:11:55,494,W 26 St & 8 Ave,40.747348,-73.997236,527,E 33 St & 2 Ave,40.744023,-73.976056,25407,Subscriber,1964.0,1
5,577,2017-05-01 00:00:35,2017-05-01 00:10:12,334,W 20 St & 7 Ave,40.742388,-73.997262,504,1 Ave & E 16 St,40.732219,-73.981656,28713,Subscriber,1956.0,2
6,523,2017-05-01 00:00:41,2017-05-01 00:09:24,335,Washington Pl & Broadway,40.729039,-73.994046,487,E 20 St & FDR Drive,40.733143,-73.975739,15385,Subscriber,1994.0,1
7,419,2017-05-01 00:00:45,2017-05-01 00:07:44,336,Sullivan St & Washington Sq,40.730477,-73.999061,369,Washington Pl & 6 Ave,40.732241,-74.000264,18295,Customer,NaN,0
8,518,2017-05-01 00:00:47,2017-05-01 00:09:25,335,Washington Pl & Broadway,40.729039,-73.994046,487,E 20 St & FDR Drive,40.733143,-73.975739,15608,Subscriber,1995.0,1
9,1296,2017-05-01 00:00:48,2017-05-01 00:22:25,291,Madison St & Montgomery St,40.713126,-73.984844,291,Madison St & Montgomery St,40.713126,-73.984844,17351,Subscriber,1994.0,1

In [7]:
df2017.drop_duplicates(subset = "start station id", inplace=True)

df2017

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,254,2017-05-01 00:00:13,2017-05-01 00:04:27,511,E 14 St & Avenue B,40.729387,-73.977724,394,E 9 St & Avenue C,40.725213,-73.977688,27695,Subscriber,1996.0,2
2,1120,2017-05-01 00:00:19,2017-05-01 00:19:00,242,Carlton Ave & Flushing Ave,40.697787,-73.973736,3083,Bushwick Ave & Powers St,40.712477,-73.941000,18700,Subscriber,1985.0,2
3,212,2017-05-01 00:00:24,2017-05-01 00:03:56,168,W 18 St & 6 Ave,40.739713,-73.994564,116,W 17 St & 8 Ave,40.741776,-74.001497,24981,Subscriber,1993.0,1
4,686,2017-05-01 00:00:29,2017-05-01 00:11:55,494,W 26 St & 8 Ave,40.747348,-73.997236,527,E 33 St & 2 Ave,40.744023,-73.976056,25407,Subscriber,1964.0,1
5,577,2017-05-01 00:00:35,2017-05-01 00:10:12,334,W 20 St & 7 Ave,40.742388,-73.997262,504,1 Ave & E 16 St,40.732219,-73.981656,28713,Subscriber,1956.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254637,251,2017-05-26 11:25:49,2017-05-26 11:30:01,493,W 45 St & 6 Ave (1),40.756800,-73.982912,477,W 41 St & 8 Ave,40.756405,-73.990026,28992,Subscriber,1984.0,1
1264814,253,2017-05-26 14:28:07,2017-05-26 14:32:20,322,Clinton St & Tillary St,40.696192,-73.991218,278,Concord St & Bridge St,40.697666,-73.984764,27086,Subscriber,1990.0,2
1266322,1771,2017-05-26 14:35:54,2017-05-26 15:05:26,3466,W 45 St & 6 Ave,40.756687,-73.982577,247,Perry St & Bleecker St,40.735354,-74.004831,25211,Subscriber,1987.0,1
1438213,1794,2017-05-30 15:17:56,2017-05-30 15:47:51,444,Broadway & W 24 St,40.742354,-73.989151,304,Broadway & Battery Pl,40.704633,-74.013617,25079,Subscriber,1955.0,1
1493289,2169,2017-05-30 13:32:41,2017-05-30 14:08:51,3468,NYCBS Depot - STY - Garage 4,40.730380,-73.974750,151,Cleveland Pl & Spring St,40.722104,-73.997249,15040,Subscriber,1960.0,1

In [8]:
df2017 = df2017.drop(["tripduration", "starttime", "stoptime", "end station id", "end station name", "end station latitude",
            "end station longitude", "bikeid", "usertype", "birth year", "gender"], axis=1)

df2017

,start station id,start station name,start station latitude,start station longitude
0,511,E 14 St & Avenue B,40.729387,-73.977724
2,242,Carlton Ave & Flushing Ave,40.697787,-73.973736
3,168,W 18 St & 6 Ave,40.739713,-73.994564
4,494,W 26 St & 8 Ave,40.747348,-73.997236
5,334,W 20 St & 7 Ave,40.742388,-73.997262
...,...,...,...,...
1254637,493,W 45 St & 6 Ave (1),40.756800,-73.982912
1264814,322,Clinton St & Tillary St,40.696192,-73.991218
1266322,3466,W 45 St & 6 Ave,40.756687,-73.982577
1438213,444,Broadway & W 24 St,40.742354,-73.989151
1493289,3468,NYCBS Depot - STY - Garage 4,40.730380,-73.974750

In [9]:
df2017 = df2017.rename(columns={'start station id': 'station id', 'start station name': 'station name',
                               'start station latitude': 'latitude', 'start station longitude': 'longitude'})
df2017

         station id                  station name   latitude  longitude
0               511            E 14 St & Avenue B  40.729387 -73.977724
2               242    Carlton Ave & Flushing Ave  40.697787 -73.973736
3               168               W 18 St & 6 Ave  40.739713 -73.994564
4               494               W 26 St & 8 Ave  40.747348 -73.997236
5               334               W 20 St & 7 Ave  40.742388 -73.997262
...             ...                           ...        ...        ...
1254637         493           W 45 St & 6 Ave (1)  40.756800 -73.982912
1264814         322       Clinton St & Tillary St  40.696192 -73.991218
1266322        3466               W 45 St & 6 Ave  40.756687 -73.982577
1438213         444            Broadway & W 24 St  40.742354 -73.989151
1493289        3468  NYCBS Depot - STY - Garage 4  40.730380 -73.974750

[624 rows x 4 columns]

In [10]:
url = "https://bootcamp-citibike-bucket.s3.amazonaws.com/NYC/May2018.csv"
df2018 = pd.read_csv(url, sep=',', header= 0)
df2018.head(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,367,2018-05-01 05:06:16.5840,2018-05-01 05:12:23.9650,72,W 52 St & 11 Ave,40.767272,-73.993929,514,12 Ave & W 40 St,40.760875,-74.002777,30567,Subscriber,1965,1
1,1313,2018-05-01 06:25:49.4250,2018-05-01 06:47:42.7120,72,W 52 St & 11 Ave,40.767272,-73.993929,426,West St & Chambers St,40.717548,-74.013221,18965,Subscriber,1956,1
2,1798,2018-05-01 06:40:26.4450,2018-05-01 07:10:25.1790,72,W 52 St & 11 Ave,40.767272,-73.993929,3435,Grand St & Elizabeth St,40.718822,-73.995960,30241,Subscriber,1959,2
3,518,2018-05-01 07:06:02.9730,2018-05-01 07:14:41.0040,72,W 52 St & 11 Ave,40.767272,-73.993929,477,W 41 St & 8 Ave,40.756405,-73.990026,28985,Subscriber,1986,1
4,109,2018-05-01 07:26:32.3450,2018-05-01 07:28:21.5420,72,W 52 St & 11 Ave,40.767272,-73.993929,530,11 Ave & W 59 St,40.771522,-73.990541,14556,Subscriber,1991,1
5,461,2018-05-01 07:28:02.9610,2018-05-01 07:35:44.8240,72,W 52 St & 11 Ave,40.767272,-73.993929,468,Broadway & W 56 St,40.765265,-73.981923,28589,Subscriber,1991,2
6,1713,2018-05-01 07:57:59.1810,2018-05-01 08:26:33.0490,72,W 52 St & 11 Ave,40.767272,-73.993929,304,Broadway & Battery Pl,40.704633,-74.013617,30483,Subscriber,1993,2
7,423,2018-05-01 07:57:59.3890,2018-05-01 08:05:02.7260,72,W 52 St & 11 Ave,40.767272,-73.993929,525,W 34 St & 11 Ave,40.755942,-74.002116,30120,Subscriber,1991,1
8,978,2018-05-01 08:01:16.6680,2018-05-01 08:17:35.6080,72,W 52 St & 11 Ave,40.767272,-73.993929,3258,W 27 St & 10 Ave,40.750182,-74.002184,27780,Subscriber,1973,2
9,472,2018-05-01 08:07:06.9110,2018-05-01 08:14:59.4060,72,W 52 St & 11 Ave,40.767272,-73.993929,500,Broadway & W 51 St,40.762288,-73.983362,17723,Subscriber,1983,1

In [11]:
df2018.drop_duplicates(subset = "start station id", inplace=True)

df2018

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,367,2018-05-01 05:06:16.5840,2018-05-01 05:12:23.9650,72,W 52 St & 11 Ave,40.767272,-73.993929,514,12 Ave & W 40 St,40.760875,-74.002777,30567,Subscriber,1965,1
4602,631,2018-05-01 05:51:04.7030,2018-05-01 06:01:36.5240,79,Franklin St & W Broadway,40.719116,-74.006667,483,E 12 St & 3 Ave,40.732233,-73.988900,33007,Subscriber,1983,1
7563,492,2018-05-01 07:54:30.4690,2018-05-01 08:02:43.4270,82,St James Pl & Pearl St,40.711174,-74.000165,401,Allen St & Rivington St,40.720196,-73.989978,25319,Subscriber,1990,1
8661,1255,2018-05-01 08:17:09.6200,2018-05-01 08:38:05.2670,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,337,Old Slip & Front St,40.703799,-74.008387,28073,Subscriber,1969,1
10194,350,2018-05-01 06:56:20.0820,2018-05-01 07:02:10.5180,119,Park Ave & St Edwards St,40.696089,-73.978034,243,Fulton St & Rockwell Pl,40.688226,-73.979382,32712,Subscriber,1981,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1818527,421,2018-05-01 06:17:39.3360,2018-05-01 06:24:41.3270,3680,E 43 St & 5 Ave,40.754121,-73.980252,478,11 Ave & W 41 St,40.760301,-73.998842,26982,Subscriber,1960,1
1821873,305,2018-05-09 09:48:30.8820,2018-05-09 09:53:36.6140,3683,Smart Cities Conference,40.710155,-73.984535,340,Madison St & Clinton St,40.712690,-73.987763,19922,Subscriber,1959,1
1821947,431,2018-05-14 15:33:04.3480,2018-05-14 15:40:15.8780,3684,W 12 St & W 4 St,40.737561,-74.003983,496,E 16 St & 5 Ave,40.737262,-73.992390,32150,Customer,1969,0
1824017,1192,2018-05-27 09:52:55.0070,2018-05-27 10:12:47.2580,3685,Prospect Park - 5 Year Anniversary Celebration,40.660652,-73.964590,3685,Prospect Park - 5 Year Anniversary Celebration,40.660652,-73.964590,18023,Subscriber,1963,1
1824089,1673,2018-05-28 15:00:27.1850,2018-05-28 15:28:20.4210,3686,Gansevoort St & Hudson St,40.739448,-74.005070,3376,E 65 St & 2 Ave,40.764719,-73.962221,33301,Subscriber,1989,1

In [12]:
df2018 = df2018.drop(["tripduration", "starttime", "stoptime", "end station id", "end station name", "end station latitude",
            "end station longitude", "bikeid", "usertype", "birth year", "gender"], axis=1)

df2018

,start station id,start station name,start station latitude,start station longitude
0,72,W 52 St & 11 Ave,40.767272,-73.993929
4602,79,Franklin St & W Broadway,40.719116,-74.006667
7563,82,St James Pl & Pearl St,40.711174,-74.000165
8661,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323
10194,119,Park Ave & St Edwards St,40.696089,-73.978034
...,...,...,...,...
1818527,3680,E 43 St & 5 Ave,40.754121,-73.980252
1821873,3683,Smart Cities Conference,40.710155,-73.984535
1821947,3684,W 12 St & W 4 St,40.737561,-74.003983
1824017,3685,Prospect Park - 5 Year Anniversary Celebration,40.660652,-73.964590
1824089,3686,Gansevoort St & Hudson St,40.739448,-74.005070

In [13]:
df2018 = df2018.rename(columns={'start station id': 'station id', 'start station name': 'station name',
                               'start station latitude': 'latitude', 'start station longitude': 'longitude'})
df2018

,station id,station name,latitude,longitude
0,72,W 52 St & 11 Ave,40.767272,-73.993929
4602,79,Franklin St & W Broadway,40.719116,-74.006667
7563,82,St James Pl & Pearl St,40.711174,-74.000165
8661,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323
10194,119,Park Ave & St Edwards St,40.696089,-73.978034
...,...,...,...,...
1818527,3680,E 43 St & 5 Ave,40.754121,-73.980252
1821873,3683,Smart Cities Conference,40.710155,-73.984535
1821947,3684,W 12 St & W 4 St,40.737561,-74.003983
1824017,3685,Prospect Park - 5 Year Anniversary Celebration,40.660652,-73.964590
1824089,3686,Gansevoort St & Hudson St,40.739448,-74.005070

In [14]:
url = "https://bootcamp-citibike-bucket.s3.amazonaws.com/NYC/May2019.csv"
df2019 = pd.read_csv(url, sep=',', header= 0)
df2019.head(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,139,2019-05-01 00:00:01.9010,2019-05-01 00:02:21.5170,447,8 Ave & W 52 St,40.763707,-73.985162,423,W 54 St & 9 Ave,40.765849,-73.986905,31170,Subscriber,1983,1
1,754,2019-05-01 00:00:03.0210,2019-05-01 00:12:37.6920,3258,W 27 St & 10 Ave,40.750182,-74.002184,3255,8 Ave & W 31 St,40.750585,-73.994685,25560,Customer,1969,0
2,2308,2019-05-01 00:00:04.6270,2019-05-01 00:38:33.1710,3093,N 6 St & Bedford Ave,40.717452,-73.958509,3676,Van Brunt St & Van Dyke St,40.675833,-74.014726,33369,Subscriber,1978,1
3,143,2019-05-01 00:00:19.3340,2019-05-01 00:02:42.5200,3486,Schermerhorn St & Bond St,40.688417,-73.984517,3412,Pacific St & Nevins St,40.685376,-73.983021,32041,Subscriber,1997,1
4,138,2019-05-01 00:00:22.1840,2019-05-01 00:02:40.6480,388,W 26 St & 10 Ave,40.749718,-74.002950,494,W 26 St & 8 Ave,40.747348,-73.997236,35237,Subscriber,1967,1
5,1598,2019-05-01 00:00:47.5650,2019-05-01 00:27:26.4150,310,State St & Smith St,40.689269,-73.989129,3322,12 St & 4 Ave,40.668603,-73.990439,16614,Customer,1973,1
6,514,2019-05-01 00:01:06.0520,2019-05-01 00:09:40.1670,439,E 4 St & 2 Ave,40.726281,-73.989780,336,Sullivan St & Washington Sq,40.730477,-73.999061,15160,Subscriber,1988,1
7,524,2019-05-01 00:01:21.0070,2019-05-01 00:10:05.9440,380,W 4 St & 7 Ave S,40.734011,-74.002939,439,E 4 St & 2 Ave,40.726281,-73.989780,16742,Subscriber,1964,1
8,415,2019-05-01 00:01:24.8140,2019-05-01 00:08:20.7770,3092,Berry St & N 8 St,40.719009,-73.958525,3109,Banker St & Meserole Ave,40.726060,-73.956210,19973,Subscriber,1987,1
9,2733,2019-05-01 00:01:30.8120,2019-05-01 00:47:04.3080,3630,Frederick Douglass Blvd & W 115 St,40.803865,-73.955931,3628,Lenox Ave & W 117 St,40.802557,-73.949078,33792,Subscriber,1985,2

In [15]:
df2019.drop_duplicates(subset = "start station id", inplace=True)

df2019

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,139,2019-05-01 00:00:01.9010,2019-05-01 00:02:21.5170,447,8 Ave & W 52 St,40.763707,-73.985162,423,W 54 St & 9 Ave,40.765849,-73.986905,31170,Subscriber,1983,1
1,754,2019-05-01 00:00:03.0210,2019-05-01 00:12:37.6920,3258,W 27 St & 10 Ave,40.750182,-74.002184,3255,8 Ave & W 31 St,40.750585,-73.994685,25560,Customer,1969,0
2,2308,2019-05-01 00:00:04.6270,2019-05-01 00:38:33.1710,3093,N 6 St & Bedford Ave,40.717452,-73.958509,3676,Van Brunt St & Van Dyke St,40.675833,-74.014726,33369,Subscriber,1978,1
3,143,2019-05-01 00:00:19.3340,2019-05-01 00:02:42.5200,3486,Schermerhorn St & Bond St,40.688417,-73.984517,3412,Pacific St & Nevins St,40.685376,-73.983021,32041,Subscriber,1997,1
4,138,2019-05-01 00:00:22.1840,2019-05-01 00:02:40.6480,388,W 26 St & 10 Ave,40.749718,-74.002950,494,W 26 St & 8 Ave,40.747348,-73.997236,35237,Subscriber,1967,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1709815,554,2019-05-28 17:11:06.8180,2019-05-28 17:20:21.2500,3773,Knickerbocker Ave & Thames St,40.705390,-73.929760,3767,Powers St & Olive St,40.713230,-73.938940,15138,Subscriber,1983,1
1725097,167,2019-05-28 19:11:46.2630,2019-05-28 19:14:34.2390,3774,Knickerbocker Ave & George St,40.704425,-73.928360,3771,McKibbin St & Bogart St,40.706237,-73.933871,35180,Subscriber,1977,1
1727339,935,2019-05-28 19:36:37.0760,2019-05-28 19:52:12.5670,3777,Stockholm St & Wilson Ave,40.699304,-73.923044,3053,Marcy Ave & Lafayette Ave,40.690081,-73.947915,31796,Subscriber,1969,0
1863620,587,2019-05-31 11:05:19.8670,2019-05-31 11:15:06.8920,3788,E 12 St & 4 Av,40.732690,-73.989740,411,E 6 St & Avenue D,40.722281,-73.976687,24966,Subscriber,1984,2
1883062,1822,2019-05-31 15:42:59.6280,2019-05-31 16:13:22.0640,3778,Irving Ave & DeKalb Ave,40.702700,-73.920950,3760,Willoughby Ave & Wyckoff Ave,40.705614,-73.921530,15567,Customer,1991,1

In [16]:
df2019 = df2019.drop(["tripduration", "starttime", "stoptime", "end station id", "end station name", "end station latitude",
            "end station longitude", "bikeid", "usertype", "birth year", "gender"], axis=1)

df2019

,start station id,start station name,start station latitude,start station longitude
0,447,8 Ave & W 52 St,40.763707,-73.985162
1,3258,W 27 St & 10 Ave,40.750182,-74.002184
2,3093,N 6 St & Bedford Ave,40.717452,-73.958509
3,3486,Schermerhorn St & Bond St,40.688417,-73.984517
4,388,W 26 St & 10 Ave,40.749718,-74.002950
...,...,...,...,...
1709815,3773,Knickerbocker Ave & Thames St,40.705390,-73.929760
1725097,3774,Knickerbocker Ave & George St,40.704425,-73.928360
1727339,3777,Stockholm St & Wilson Ave,40.699304,-73.923044
1863620,3788,E 12 St & 4 Av,40.732690,-73.989740
1883062,3778,Irving Ave & DeKalb Ave,40.702700,-73.920950

In [17]:
df2019 = df2019.rename(columns={'start station id': 'station id', 'start station name': 'station name',
                               'start station latitude': 'latitude', 'start station longitude': 'longitude'})
df2019

         station id                   station name   latitude  longitude
0               447                8 Ave & W 52 St  40.763707 -73.985162
1              3258               W 27 St & 10 Ave  40.750182 -74.002184
2              3093           N 6 St & Bedford Ave  40.717452 -73.958509
3              3486      Schermerhorn St & Bond St  40.688417 -73.984517
4               388               W 26 St & 10 Ave  40.749718 -74.002950
...             ...                            ...        ...        ...
1709815        3773  Knickerbocker Ave & Thames St  40.705390 -73.929760
1725097        3774  Knickerbocker Ave & George St  40.704425 -73.928360
1727339        3777      Stockholm St & Wilson Ave  40.699304 -73.923044
1863620        3788                 E 12 St & 4 Av  40.732690 -73.989740
1883062        3778        Irving Ave & DeKalb Ave  40.702700 -73.920950

[793 rows x 4 columns]

In [18]:
engine = create_engine("postgresql://postgres:postgres@citibike-analysis.cbk1sw5fz5td.us-east-1.rds.amazonaws.com:5432/project")

In [19]:
df2016.to_sql('stationids2016', engine, index=False)

In [20]:
df2017.to_sql('stationids2017', engine, index=False)

In [21]:
df2018.to_sql('stationids2018', engine, index=False)

In [22]:
df2019.to_sql('stationids2019', engine, index=False)