In [1]:
import pandas as pd
import requests
import psycopg2
from sqlalchemy import create_engine

In [2]:
url = "https://bootcamp-citibike-bucket.s3.amazonaws.com/NYC/May2016.csv"
df2016 = pd.read_csv(url, sep=',', header= 0)
df2016.head(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,538,5/1/2016 00:00:03,5/1/2016 00:09:02,536,1 Ave & E 30 St,40.741444,-73.975361,497,E 17 St & Broadway,40.737050,-73.990093,23097,Subscriber,1986.0,2
1,224,5/1/2016 00:00:04,5/1/2016 00:03:49,361,Allen St & Hester St,40.716059,-73.991908,340,Madison St & Clinton St,40.712690,-73.987763,23631,Subscriber,1977.0,1
2,328,5/1/2016 00:00:14,5/1/2016 00:05:43,301,E 2 St & Avenue B,40.722174,-73.983688,311,Norfolk St & Broome St,40.717227,-73.988021,23049,Subscriber,1980.0,1
3,1196,5/1/2016 00:00:20,5/1/2016 00:20:17,3141,1 Ave & E 68 St,40.765005,-73.958185,237,E 11 St & 2 Ave,40.730473,-73.986724,19019,Customer,NaN,0
4,753,5/1/2016 00:00:26,5/1/2016 00:13:00,492,W 33 St & 7 Ave,40.750200,-73.990931,228,E 48 St & 3 Ave,40.754601,-73.971879,16437,Subscriber,1981.0,1
5,511,5/1/2016 00:00:33,5/1/2016 00:09:05,445,E 10 St & Avenue A,40.727408,-73.981420,537,Lexington Ave & E 24 St,40.740259,-73.984092,20592,Subscriber,1991.0,1
6,362,5/1/2016 00:00:34,5/1/2016 00:06:37,151,Cleveland Pl & Spring St,40.722104,-73.997249,229,Great Jones St,40.727434,-73.993790,15681,Subscriber,1986.0,1
7,1399,5/1/2016 00:00:37,5/1/2016 00:23:56,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,2022,E 60 St & York Ave,40.759107,-73.959223,16003,Subscriber,1989.0,1
8,515,5/1/2016 00:00:42,5/1/2016 00:09:17,368,Carmine St & 6 Ave,40.730386,-74.002150,334,W 20 St & 7 Ave,40.742388,-73.997262,20515,Subscriber,1998.0,1
9,1477,5/1/2016 00:00:50,5/1/2016 00:25:27,459,W 20 St & 11 Ave,40.746745,-74.007756,445,E 10 St & Avenue A,40.727408,-73.981420,20884,Subscriber,1995.0,1

In [3]:
engine = create_engine('postgresql://postgres:postgres@citibike-analysis.cbk1sw5fz5td.us-east-1.rds.amazonaws.com:5432/project')
df2016.to_sql('may2016', engine)

In [4]:
url = "https://bootcamp-citibike-bucket.s3.amazonaws.com/NYC/May2017.csv"
df2017 = pd.read_csv(url, sep=',', header= 0)
df2017.head(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,254,2017-05-01 00:00:13,2017-05-01 00:04:27,511,E 14 St & Avenue B,40.729387,-73.977724,394,E 9 St & Avenue C,40.725213,-73.977688,27695,Subscriber,1996.0,2
1,248,2017-05-01 00:00:19,2017-05-01 00:04:28,511,E 14 St & Avenue B,40.729387,-73.977724,394,E 9 St & Avenue C,40.725213,-73.977688,15869,Subscriber,1996.0,1
2,1120,2017-05-01 00:00:19,2017-05-01 00:19:00,242,Carlton Ave & Flushing Ave,40.697787,-73.973736,3083,Bushwick Ave & Powers St,40.712477,-73.941000,18700,Subscriber,1985.0,2
3,212,2017-05-01 00:00:24,2017-05-01 00:03:56,168,W 18 St & 6 Ave,40.739713,-73.994564,116,W 17 St & 8 Ave,40.741776,-74.001497,24981,Subscriber,1993.0,1
4,686,2017-05-01 00:00:29,2017-05-01 00:11:55,494,W 26 St & 8 Ave,40.747348,-73.997236,527,E 33 St & 2 Ave,40.744023,-73.976056,25407,Subscriber,1964.0,1
5,577,2017-05-01 00:00:35,2017-05-01 00:10:12,334,W 20 St & 7 Ave,40.742388,-73.997262,504,1 Ave & E 16 St,40.732219,-73.981656,28713,Subscriber,1956.0,2
6,523,2017-05-01 00:00:41,2017-05-01 00:09:24,335,Washington Pl & Broadway,40.729039,-73.994046,487,E 20 St & FDR Drive,40.733143,-73.975739,15385,Subscriber,1994.0,1
7,419,2017-05-01 00:00:45,2017-05-01 00:07:44,336,Sullivan St & Washington Sq,40.730477,-73.999061,369,Washington Pl & 6 Ave,40.732241,-74.000264,18295,Customer,NaN,0
8,518,2017-05-01 00:00:47,2017-05-01 00:09:25,335,Washington Pl & Broadway,40.729039,-73.994046,487,E 20 St & FDR Drive,40.733143,-73.975739,15608,Subscriber,1995.0,1
9,1296,2017-05-01 00:00:48,2017-05-01 00:22:25,291,Madison St & Montgomery St,40.713126,-73.984844,291,Madison St & Montgomery St,40.713126,-73.984844,17351,Subscriber,1994.0,1

In [5]:
df2017.to_sql('may2017', engine)

In [6]:
url = "https://bootcamp-citibike-bucket.s3.amazonaws.com/NYC/May2018.csv"
df2018 = pd.read_csv(url, sep=',', header= 0)
df2018.head(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,367,2018-05-01 05:06:16.5840,2018-05-01 05:12:23.9650,72,W 52 St & 11 Ave,40.767272,-73.993929,514,12 Ave & W 40 St,40.760875,-74.002777,30567,Subscriber,1965,1
1,1313,2018-05-01 06:25:49.4250,2018-05-01 06:47:42.7120,72,W 52 St & 11 Ave,40.767272,-73.993929,426,West St & Chambers St,40.717548,-74.013221,18965,Subscriber,1956,1
2,1798,2018-05-01 06:40:26.4450,2018-05-01 07:10:25.1790,72,W 52 St & 11 Ave,40.767272,-73.993929,3435,Grand St & Elizabeth St,40.718822,-73.995960,30241,Subscriber,1959,2
3,518,2018-05-01 07:06:02.9730,2018-05-01 07:14:41.0040,72,W 52 St & 11 Ave,40.767272,-73.993929,477,W 41 St & 8 Ave,40.756405,-73.990026,28985,Subscriber,1986,1
4,109,2018-05-01 07:26:32.3450,2018-05-01 07:28:21.5420,72,W 52 St & 11 Ave,40.767272,-73.993929,530,11 Ave & W 59 St,40.771522,-73.990541,14556,Subscriber,1991,1
5,461,2018-05-01 07:28:02.9610,2018-05-01 07:35:44.8240,72,W 52 St & 11 Ave,40.767272,-73.993929,468,Broadway & W 56 St,40.765265,-73.981923,28589,Subscriber,1991,2
6,1713,2018-05-01 07:57:59.1810,2018-05-01 08:26:33.0490,72,W 52 St & 11 Ave,40.767272,-73.993929,304,Broadway & Battery Pl,40.704633,-74.013617,30483,Subscriber,1993,2
7,423,2018-05-01 07:57:59.3890,2018-05-01 08:05:02.7260,72,W 52 St & 11 Ave,40.767272,-73.993929,525,W 34 St & 11 Ave,40.755942,-74.002116,30120,Subscriber,1991,1
8,978,2018-05-01 08:01:16.6680,2018-05-01 08:17:35.6080,72,W 52 St & 11 Ave,40.767272,-73.993929,3258,W 27 St & 10 Ave,40.750182,-74.002184,27780,Subscriber,1973,2
9,472,2018-05-01 08:07:06.9110,2018-05-01 08:14:59.4060,72,W 52 St & 11 Ave,40.767272,-73.993929,500,Broadway & W 51 St,40.762288,-73.983362,17723,Subscriber,1983,1

In [7]:
df2018.to_sql('may2018', engine)

In [8]:
url = "https://bootcamp-citibike-bucket.s3.amazonaws.com/NYC/May2019.csv"
df2019 = pd.read_csv(url, sep=',', header= 0)
df2019.head(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,139,2019-05-01 00:00:01.9010,2019-05-01 00:02:21.5170,447,8 Ave & W 52 St,40.763707,-73.985162,423,W 54 St & 9 Ave,40.765849,-73.986905,31170,Subscriber,1983,1
1,754,2019-05-01 00:00:03.0210,2019-05-01 00:12:37.6920,3258,W 27 St & 10 Ave,40.750182,-74.002184,3255,8 Ave & W 31 St,40.750585,-73.994685,25560,Customer,1969,0
2,2308,2019-05-01 00:00:04.6270,2019-05-01 00:38:33.1710,3093,N 6 St & Bedford Ave,40.717452,-73.958509,3676,Van Brunt St & Van Dyke St,40.675833,-74.014726,33369,Subscriber,1978,1
3,143,2019-05-01 00:00:19.3340,2019-05-01 00:02:42.5200,3486,Schermerhorn St & Bond St,40.688417,-73.984517,3412,Pacific St & Nevins St,40.685376,-73.983021,32041,Subscriber,1997,1
4,138,2019-05-01 00:00:22.1840,2019-05-01 00:02:40.6480,388,W 26 St & 10 Ave,40.749718,-74.002950,494,W 26 St & 8 Ave,40.747348,-73.997236,35237,Subscriber,1967,1
5,1598,2019-05-01 00:00:47.5650,2019-05-01 00:27:26.4150,310,State St & Smith St,40.689269,-73.989129,3322,12 St & 4 Ave,40.668603,-73.990439,16614,Customer,1973,1
6,514,2019-05-01 00:01:06.0520,2019-05-01 00:09:40.1670,439,E 4 St & 2 Ave,40.726281,-73.989780,336,Sullivan St & Washington Sq,40.730477,-73.999061,15160,Subscriber,1988,1
7,524,2019-05-01 00:01:21.0070,2019-05-01 00:10:05.9440,380,W 4 St & 7 Ave S,40.734011,-74.002939,439,E 4 St & 2 Ave,40.726281,-73.989780,16742,Subscriber,1964,1
8,415,2019-05-01 00:01:24.8140,2019-05-01 00:08:20.7770,3092,Berry St & N 8 St,40.719009,-73.958525,3109,Banker St & Meserole Ave,40.726060,-73.956210,19973,Subscriber,1987,1
9,2733,2019-05-01 00:01:30.8120,2019-05-01 00:47:04.3080,3630,Frederick Douglass Blvd & W 115 St,40.803865,-73.955931,3628,Lenox Ave & W 117 St,40.802557,-73.949078,33792,Subscriber,1985,2

In [9]:
df2019.to_sql('may2019', engine)

In [11]:
url = "https://bootcamp-citibike-bucket.s3.amazonaws.com/StationDocks/StationsRawMay2016.csv"
dfstations2016 = pd.read_csv(url, sep='\t', header= 0)
dfstations2016.head(10)

,dock_id,dock_name,date,hour,minute,pm,avail_bikes,avail_docks,tot_docks,_lat,_long,in_service,status_key,_long3
0,72,W 52 St & 11 Ave,16-05-01,1,9,0,11,25,39,40.767272,-73.993929,1,1,NaN
1,72,W 52 St & 11 Ave,16-05-01,1,22,0,11,25,39,40.767272,-73.993929,1,1,NaN
2,72,W 52 St & 11 Ave,16-05-01,1,35,0,11,25,39,40.767272,-73.993929,1,1,NaN
3,72,W 52 St & 11 Ave,16-05-01,1,47,0,11,25,39,40.767272,-73.993929,1,1,NaN
4,72,W 52 St & 11 Ave,16-05-01,2,0,0,11,25,39,40.767272,-73.993929,1,1,NaN
5,72,W 52 St & 11 Ave,16-05-01,2,13,0,12,24,39,40.767272,-73.993929,1,1,NaN
6,72,W 52 St & 11 Ave,16-05-01,2,26,0,12,24,39,40.767272,-73.993929,1,1,NaN
7,72,W 52 St & 11 Ave,16-05-01,2,39,0,12,24,39,40.767272,-73.993929,1,1,NaN
8,72,W 52 St & 11 Ave,16-05-01,2,51,0,12,24,39,40.767272,-73.993929,1,1,NaN
9,72,W 52 St & 11 Ave,16-05-01,3,4,0,12,24,39,40.767272,-73.993929,1,1,NaN

In [12]:
dfstations2016.to_sql('stations2016', engine)

In [13]:
url = "https://bootcamp-citibike-bucket.s3.amazonaws.com/StationDocks/StationsRawMay2017.csv"
dfstations2017 = pd.read_csv(url, sep='\t', header= 0)
dfstations2017.head(10)

,dock_id,dock_name,date,hour,minute,pm,avail_bikes,avail_docks,tot_docks,_lat,_long,in_service,status_key
0,72,W 52 St & 11 Ave,17-05-01,3,34,1,0,39,39,40.767272,-73.993929,1,1
1,72,W 52 St & 11 Ave,17-05-01,5,49,1,2,36,39,40.767272,-73.993929,1,1
2,72,W 52 St & 11 Ave,17-05-01,7,0,1,2,35,39,40.767272,-73.993929,1,1
3,72,W 52 St & 11 Ave,17-05-01,8,12,1,6,31,39,40.767272,-73.993929,1,1
4,72,W 52 St & 11 Ave,17-05-01,9,19,1,12,25,39,40.767272,-73.993929,1,1
5,72,W 52 St & 11 Ave,17-05-01,10,25,1,16,21,39,40.767272,-73.993929,1,1
6,72,W 52 St & 11 Ave,17-05-01,11,31,1,15,22,39,40.767272,-73.993929,1,1
7,72,W 52 St & 11 Ave,17-05-02,1,42,0,16,21,39,40.767272,-73.993929,1,1
8,72,W 52 St & 11 Ave,17-05-02,2,45,0,16,21,39,40.767272,-73.993929,1,1
9,72,W 52 St & 11 Ave,17-05-02,4,21,0,15,22,39,40.767272,-73.993929,1,1

In [14]:
dfstations2017.to_sql('stations2017', engine)

In [15]:
url = "https://bootcamp-citibike-bucket.s3.amazonaws.com/StationDocks/StationsRawMay2018.csv"
dfstations2018 = pd.read_csv(url, sep='\t', header= 0)
dfstations2018.head(10)

,dock_id,dock_name,date,hour,minute,pm,avail_bikes,avail_docks,tot_docks,_lat,_long,in_service,status_key
0,72,W 52 St & 11 Ave,18-05-01,1,4,0,16,20,39,40.767272,-73.993929,1,1
1,72,W 52 St & 11 Ave,18-05-01,1,36,0,16,20,39,40.767272,-73.993929,1,1
2,72,W 52 St & 11 Ave,18-05-01,2,7,0,16,20,39,40.767272,-73.993929,1,1
3,72,W 52 St & 11 Ave,18-05-01,2,38,0,16,20,39,40.767272,-73.993929,1,1
4,72,W 52 St & 11 Ave,18-05-01,3,9,0,16,20,39,40.767272,-73.993929,1,1
5,72,W 52 St & 11 Ave,18-05-01,3,41,0,16,20,39,40.767272,-73.993929,1,1
6,72,W 52 St & 11 Ave,18-05-01,4,13,0,16,20,39,40.767272,-73.993929,1,1
7,72,W 52 St & 11 Ave,18-05-01,4,44,0,16,20,39,40.767272,-73.993929,1,1
8,72,W 52 St & 11 Ave,18-05-01,5,16,0,15,21,39,40.767272,-73.993929,1,1
9,72,W 52 St & 11 Ave,18-05-01,5,50,0,15,21,39,40.767272,-73.993929,1,1

In [16]:
dfstations2018.to_sql('stations2018', engine)

In [17]:
url = "https://bootcamp-citibike-bucket.s3.amazonaws.com/StationDocks/StationsRawApril2019.csv"
dfstations2019 = pd.read_csv(url, sep='\t', header= 0)
dfstations2019.head(10)

,dock_id,dock_name,date,hour,minute,pm,avail_bikes,avail_docks,tot_docks,_lat,_long,in_service,status_key
0,72,W 52 St & 11 Ave,19-04-02,4,56,1,6,49,55,40.767272,-73.993929,1,1
1,72,W 52 St & 11 Ave,19-04-02,5,36,1,1,54,55,40.767272,-73.993929,1,1
2,72,W 52 St & 11 Ave,19-04-02,6,16,1,4,51,55,40.767272,-73.993929,1,1
3,72,W 52 St & 11 Ave,19-04-02,6,54,1,3,52,55,40.767272,-73.993929,1,1
4,72,W 52 St & 11 Ave,19-04-02,7,36,1,7,48,55,40.767272,-73.993929,1,1
5,72,W 52 St & 11 Ave,19-04-02,8,35,1,14,41,55,40.767272,-73.993929,1,1
6,72,W 52 St & 11 Ave,19-04-02,9,28,1,15,40,55,40.767272,-73.993929,1,1
7,72,W 52 St & 11 Ave,19-04-02,10,12,1,18,37,55,40.767272,-73.993929,1,1
8,72,W 52 St & 11 Ave,19-04-02,10,54,1,16,39,55,40.767272,-73.993929,1,1
9,72,W 52 St & 11 Ave,19-04-02,11,35,1,16,39,55,40.767272,-73.993929,1,1

In [18]:
dfstations2019.to_sql('stations2019', engine)